[Unit]
Description=Refresh ani-desk Namecheap Dynamic DNS

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=1min
Persistent=true
Unit=ani-desk-ddns.service

[Install]
WantedBy=timers.target
