[Unit]
Description=Refresh ani-desk Cloudflare Dynamic DNS

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=1min
Persistent=true
Unit=ani-desk-cloudflare-ddns.service

[Install]
WantedBy=timers.target
